/* Rotating icons around the image */
@media (max-width: 980px) {
  .rotating-icons {
    display: none !important;
  }
}

#himg {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.rotating-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  animation: rotate 10s linear infinite;
}

/* .rotating-icons .f{
    color: #333;
    background-color: #333;
    border: 2px solid #333;
    border-color: #333;
  }
   */
.icon {
  position: absolute;
  font-size: 24px;
  color: #333;
}

.icon:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon:nth-child(2) {
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.icon:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.icon:nth-child(4) {
  bottom: 20%;
  left: 80%;
  transform: translate(-50%, 50%);
}

.icon:nth-child(5) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon:nth-child(6) {
  bottom: 20%;
  left: 20%;
  transform: translate(-50%, 50%);
}

.icon:nth-child(7) {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

.icon:nth-child(8) {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.headimg {
  border-radius: 50%;
  z-index: 10;
}